.about-bestSongs-display{
    position: relative;
    height: 55rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.about-main{
    color: var(--white);
    min-width: 30rem;
    max-width: 60rem;
    color: var(--primary_color);
    h1{
        font-size: 5em;
    }
    &_text{
        font-size: 2em;
    }
    &_logo{
        height: 6rem;
    }
}
