@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

$primary_color: #25316D;
$color1: #3D84A8;
$color2: #46CDCF;
$color3: #FEF5AC;


.about-main{
    color: #fff;
    position: relative;
    left: 300px;
    top: 100px;
    height: 400px;
    width: 800px;
    color: #25316D;
    h1{
        font-size: 70px;
    }
    &_text{
        font-size: 30px;
    }
}