.about-main{
    text-align: center;
    color: var(--white);
    min-width: 40rem;
    max-width: 100rem;
    margin: 4rem;
    color: var(--primary_color);
    h1{
        font-size: 4rem;
        font-weight: 600;
        color: var(--black);
    }
    &_text{
        font-size: 2.5rem;
    }
    &_logo{
        margin: 4rem auto;
        height: 8rem;
    }
}
