.best-songs-main{
    font-family: 'Montserrat', sans-serif;
    display: block;
    background-color: var(--primary_color);
    height: 30rem;
    width: 25rem;
    color: var(--white);
    box-shadow: 5px 5px 20px #000000;

    &_headline{
        margin: 1rem;
        text-align: center;
        font-weight: 600;
        font-size: 2em;
    }

    &_song{
        padding: 1rem;
        border: solid 1px var(--color1);
        margin: 0.5rem;
        p{
            margin: 0.8rem 0 0;
        }
        img{
            border-radius: 50%;
            height: 2.5rem;
            width: 2.5rem;
        }
        &_img-name{
            display: flex;
            align-items: center;
            p{
                margin-left: 0.5rem;
            }
        }
    }

}
