@import "../../styles/main.scss";

.header{
    z-index: 1;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    height: 6rem;
    background-color: var(--primary_color);
    color: var(--white);

    @include mediaQuery(phone) {
      background-color: red;
    }
    a{
      font-size: 1.3rem;
      text-decoration: none;
      color: var(--white);
      font-weight: 500;
      @include mediaQuery(tab-land) {
        font-size: 1.6rem;
      }
    }


    &_left{
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      &_logo_small{
        height: 6rem;
        width: 6rem;
        min-height: 6rem;
        min-width: 6rem;
      }
    }
  

    &_right_context{
      display: flex;
      align-items: center;
      justify-content: space-around;
      min-width: 38rem;
      margin-right: 1rem;
      &_find-song{
        height: 2.5rem;
      }
      &_input-div{
        min-width: 18rem;
        border-radius: 50px;
        background-color: var(--white);
        padding: 0.1rem;
        display: flex;
        align-self: center;
        &_img{
          height: 3rem;
          z-index: 2;
        }
        &_input{
          font-size: 1.2rem;
          max-width: 13rem;
          background: var(--white);
          color: black;
          &:focus{
            outline: none;
          }
        }
      }
      &_sign-in{
        &::after {
          content: '';
          display: block;
          width: 0;
          height: 2px;
          background: var(--color3);
          transition: width .3s ease-in;
        }
        &:hover::after {
          width: 100%;
        }
      }
      &_post-a-song{
        a{
          color: var(--black);
        }
        margin-bottom: 0.1rem;
        padding: 0.4rem;
        border-radius: 10px;
        background-color: var(--color3);
        &:hover{
        background-color: var(--color1);
        transition: all 0.3s ease-out;
        transform: translateY(2px);
      }
      }
    }
  }
