.header{
    z-index: 1;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    margin: 0;
    height: 6rem;
    background-color: var(--primary_color);
    color: var(--white);
    a{
      font-size: 1.8rem;
      text-decoration: none;
      color: var(--white);
      font-weight: 500;
    }
    &_left{
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      &_logo_small{
        height: 4rem;
      }
      a{
        margin-left: 1rem;
        &::after {
          content: '';
          display: block;
          width: 0;
          height: 2px;
          background: var(--color3);
          transition: width .3s ease-in;
        }
        &:hover::after {
          width: 100%;
        }
      }
    }
   
    &_mid_context{
      height: 1.3rem;
      display: flex;
      align-items: center;
      position: relative;
      a{
        &::after {
          content: '';
          display: block;
          width: 0;
          height: 2px;
          background: var(--color3);
          transition: width .3s ease-in;
        }
        &:hover::after {
          width: 100%;
        }
      }
    }
  
    &_right_context{
      background-color: var(--color2);
      position: relative;
      display: flex;
      align-items: center;
      padding: 0.8rem;
      height: 2.5rem;
      border-radius: 10px;
      a{
        text-decoration: none;
        color: var(--black);
        font-weight: 600;
      }
      &:hover{
        background-color: var(--color3);
        transition: all 0.3s ease-out;
        transform: translateY(2px);
      }
    }
  }
