@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
$primary_color: #25316D;
$color1: #3D84A8;
$color2: #46CDCF;
$color3: #FEF5AC;

.signUp-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    &_header{
        color: #fff;
        &_small{
            color: #fff;
        }
    }
    &_hide{
        z-index: -1;
    }
    &_non-hide{
        z-index: 1;
    }
}